body {
    font-family: Arial, sans-serif;
    background-color: #f7d9e8; /* Rosa claro */
    margin: 0;
    padding: 0;
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff; /* Fondo blanco */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ff007f; /* Rosa intenso */
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #ff007f; /* Rosa intenso */
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #ff007f; /* Rosa intenso */
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #ff007f; /* Rosa intenso */
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #d90061; /* Rosa oscuro */
}