* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.logo h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ddd;
}

.contenedor-productos {
    max-width: 1200px;
    margin: 70px auto 20px;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: calc(50% - 20px);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
}

.item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.info {
    padding: 20px;
}

h2 {
    margin-top: 0;
}

.precio {
    font-size: 18px;
    color: #555;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.contenedor-items {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 20px;
    row-gap: 100px;
    grid-template-rows: repeat(3, 1fr);
    background-color: rgb(214, 209, 209);
    justify-content: space-evenly;

}
